.text-center {
	text-align: center !important;
}

.navbar-collapse {
	text-align: center !important;
}
.img-fade{
    position: relative;
    overflow: hidden;
}
.img-fade img {
    width: 100%;
    padding: 0;
}
.img-fade .img-text{
    background-color: rgba(255,255,255,0.5);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: #000 0px 0px 0;
    color: black;
}
.img-fade:hover .img-text {
    display: block;
    opacity: 1.0;
}
.img-text {
    padding: 20px 40px;
}
.img-text p {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}


body {
    background-color: white;
}

.homepage {
	background-color: #65beb4;
}

h1 {
	padding-left: 2cm;
	margin-right: 1cm;
}

.navbar-collapse {
	padding-left: 0cm;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.nav li {
	padding-left: 30px;
	padding-right: 30px;
	
}

.column1 {
height: 30em;
margin-bottom: 1em;
background-image: "lena.jpg"
background-repeat: no-repeat;
}

.column2 {
height: 30em;
margin-bottom: 1em;
background-image: "dating.jpg"
background-repeat: no-repeat;
}
.column3 {
height: 30em;
margin-bottom: 1em;
background-image: "atheist";
background-repeat: no-repeat;
}

.column4 {
height: 30em;
margin-bottom: 1em;
background-image: "lena.jpg"
background-repeat: no-repeat;
}

.column5 {
height: 30em;
margin-bottom: 1em;
background-image: "dating.jpg"
background-repeat: no-repeat;
}
.column6 {
height: 30em;
margin-bottom: 1em;
background-image: "atheist";
background-repeat: no-repeat;
}

.column7 {
height: 30em;
margin-bottom: 1em;
background-image: "atheist";
background-repeat: no-repeat;
}
		
.column8 {
height: 30em;
margin-bottom: 1em;
background-image: "atheist";
background-repeat: no-repeat;
}

.column9 {
height: 30em;
margin-bottom: 1em;
background-image: "atheist";
background-repeat: no-repeat;
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9{
width: 31.3%;
float: left;
margin: 1%;
}

.modal-body {
	padding-left: 50px;
}

.btn-default {
	padding-left: 50px;
}

